.section-header {
    position: relative; /* Para que el texto se posicione relativo a la imagen */
  }
  
  .header-img {
    width: 100%; /* Ajusta el ancho de la imagen según necesites */
    height: auto; 
    opacity: 0.50;
    border-radius: 1rem;
  }
  
  .header-text {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: var(--color0); 
    text-align: center;
  }

  p{
    font-weight: bold;
  }